<!DOCTYPE html>
<html ng-app="blog">
<head>
    <title>My web application</title>
    <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">AWJ Base Project</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Persoane</a></li>
                    <li><a href="#">----</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<hr/>

<div class="container">
    <div>
        <h1>{{ helloWorld }}</h1>

        <p>Writing this live into the browser...</p>
    </div>
</div>

<hr/>

<!-- /resources1 -->
<div class="container" ng-controller="HomeController">

    <h1>Persoane</h1>

    <h2>Listeaza toate persoanele</h2>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Persoane</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <tr>
           <td> {{ modalPersoana.id }}</td>
           <td> {{ modalPersoana.name }} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
	</div>

    <table class="table table-bordered">
        <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="persoana in persoane" data-id="{{persoana.id}}">
            <td>{{ persoana.id }}</td>
            <td>{{ persoana.name }}</td>
            <td>
                <a href="">
            <button ng-click="modalFct(persoana.id)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </button>
                </a>
                <a href="">
                    <button ng-click="setUpdatePerson(persoana)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="index.html">
                    <button ng-click="deletePersoana(persoana.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza persoana</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPerson.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editPerson.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updatePerson(editPerson)">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga o persoana</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="persoana.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="persoana.name">
                </div>

                <button ng-click="addPersoana(persoana)" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

</div>

<hr/>

<!-- /resources2 -->
<div class="container" ng-controller="MasinaController">

    <h1>Masini</h1>

    <h2>Listeaza toate masinile</h2>
	
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Masina</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <tr>
           <td> {{ modalMasina.id }}</td>
           <td> {{ modalMasina.name }} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

    <table class="table table-bordered">
        <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="masina in masini" data-id="{{masina.id}}">
			<td>{{ masina.id   }}</td>
            <td>{{ masina.name }}</td>
            <td>{{ masina.marca }}</td>
            <td>
                <a href="">
            <button ng-click="modalFct(masina.id)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal1">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </button>
                </a>
                <a href="">
                    <button ng-click="setUpdateMasina(masina)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="index.html">
                    <button ng-click="deleteMasina(masina.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza masina</h2>

            <form action="" method="">
				<div class="form-group">
                    <label for="attribute1">Id</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="editMasina.id">
                </div>
                <div class="form-group">
                    <label for="attribute1">Nume</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Nume" ng-model="editMasina.name">
                </div>
                <div class="form-group">
                    <label for="attribute2">Marca</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="Marca" ng-model="editMasina.marca">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateMasina(editMasina)">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga o masina</h2>

            <form action="" method="">
				<div class="form-group">
                    <label for="attribute1">Id</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="masina.id">
                </div>
                <div class="form-group">
                    <label for="attribute1">Nume</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Nume" ng-model="masina.name">
                </div>
                <div class="form-group">
                    <label for="attribute2">Marca</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="Marca" ng-model="masina.marca">
                </div>

                <button ng-click="addMasina(masina)" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

</div>

<hr/>

<!-- /resources3 -->
<div class="container" ng-controller="SerialController">

    <h1>Serial</h1>

    <h2>Listeaza toate seriale</h2>
	
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Seriale</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <tr>
           <td> {{ modalSerial.id }}</td>
           <td> {{ modalSerial.titlu }} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

    <table class="table table-bordered">
        <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="serial in seriale" data-id="{{serial.id}}">
			<td>{{ serial.id   }}</td>
            <td>{{ serial.titlu }}</td>
            <td>{{ serial.numarSez }}</td>
			<td>{{ serial.numarEp }}</td>
            <td>
                <a href="">
            <button ng-click="modalFct(serial.id)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal2">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </button>
            </span>
                </a>
                <a href="">
                    <button ng-click="setUpdateSerial(serial)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="index.html">
                    <button ng-click="deleteSerial(serial.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza serial</h2>
            <form action="" method="">
				<div class="form-group">
                    <label for="attribute1">Id</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="editSerial.id">
                </div>
                <div class="form-group">
                    <label for="attribute1">Titlu</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Titlu" ng-model="editSerial.titlu">
                </div>
				<div class="form-group">
                    <label for="attribute1">Numar Sezoane</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Sezoane" ng-model="editSerial.numarSez">
                </div>
                <div class="form-group">
                    <label for="attribute2">Numar Episoade</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="Episoade" ng-model="editSerial.numarEp">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateSerial(editSerial)">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga un serial</h2>

            <form action="" method="">
				<div class="form-group">
                    <label for="attribute1">Id</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="serial.id">
                </div>
                <div class="form-group">
                    <label for="attribute1">Titlu</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Titlu" ng-model="serial.titlu">
                </div>
				<div class="form-group">
                    <label for="attribute1">Numar Sezoane</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Sezoane" ng-model="serial.numarSez">
                </div>
                <div class="form-group">
                    <label for="attribute2">Numar Episoade</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="Episoade" ng-model="serial.numarEp">
                </div>
                <button type="submit" class="btn btn-info" ng-click="addSerial(serial)">Save</button>
            </form>
        </div>
    </div>

</div>
<hr/>
<!-- /resources3 -->
<div class="container" ng-controller="TelefonController">

    <h1>Telefoane</h1>

    <h2>Listeaza toate telefoanele</h2>
	
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Telefoane</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <tr>
           <td> {{ modalTelefon.id }}</td>
           <td> {{ modalTelefon.model }} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

    <table class="table table-bordered">
        <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="telefon in telefoane" data-id="{{telefon.id}}">
			<td>{{ telefon.id   }}</td>
            <td>{{ telefon.model }}</td>
            <td>{{ telefon.numar }}</td>
            <td>
                <a href="">
            <button ng-click="modalFct(telefon.id)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal3">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </button>
                </a>
                <a href="">
                    <button ng-click="setUpdateTelefon(telefon)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="index.html">
                    <button ng-click="deleteTelefon(telefon.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza telefon</h2>
            <form action="" method="">
				<div class="form-group">
                    <label for="attribute1">Id</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="editTelefon.id">
                </div>
                <div class="form-group">
                    <label for="attribute1">Model</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Model" ng-model="editTelefon.model">
                </div>
				<div class="form-group">
                    <label for="attribute1">Numar</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Numar" ng-model="editTelefon.numar">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateTelefon(editTelefon)">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga un telefon</h2>

            <form action="" method="">
				<div class="form-group">
                    <label for="attribute1">Id</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="telefon.id">
                </div>
                <div class="form-group">
                    <label for="attribute1">Model</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Model" ng-model="telefon.model">
                </div>
				<div class="form-group">
                    <label for="attribute1">Numar</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="Numar" ng-model="telefon.numar">
                </div>
                <button type="submit" class="btn btn-info" ng-click="addTelefon(telefon)">Save</button>
            </form>
        </div>
    </div>

</div>
<hr/>

<div class="container">
    <footer class="footer">
        <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
        <p class="text-muted pull-right">Jianu Stefanut-Alexandru 334AA</p>
    </footer>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>